/*tweet container styles*/
article{
font-family: "Source Sans Pro", sans-serif;
font-weight: 600;
border: #545149 solid 2px;
min-height: 100px;
margin-top: 50px;
margin-left: 5%;
padding: 20px;
}

article:hover{
  box-shadow: 5px 10px #888888;
}

.article-header{
color: #545149;
display: flex;
justify-content: space-between;
}

.alert{
padding: 15px;
margin-bottom: 20px;
margin-top:20px;
border: 1px solid transparent;
border-radius: 4px;
background-color: #f2dede;
border-color: #ebccd1;
color: #a94442;
visibility: hidden;
}

.time{
  font-size: 15px;
  margin-left: 15px;
}

.header-div{
  font-weight: 300;

}

.handle{
  color: #bfbdb6;
  margin-right: 3px;
  margin-top: 15px;
}


hr{
  height: 4px;
  border-width: 0;
  color: #545149;
  background-color: #545149;
}

footer{
color: #545149;
display: flex;
flex-direction: row;
justify-content: space-between;

}

.icons{
  font-size: large;
  letter-spacing: 4px;
  color: #4056a1;
}

name {
    float: right;
    margin-top: 20px;
    margin-left: 10px;
}


.fa-flag:hover{
  color: #e1ad01;
}



.fa-retweet:hover{
  color: #e1ad01;
}


.fa-heart:hover{
  color: #e1ad01;
}