nav {
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em 0 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.logo {
  font-family: "Bungee", cursive;
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.fa-angle-double-down {
  display: flex;
  color: red;
  justify-content: center;
}

/* desktop 1024 to up 
(max-width: 1024px*/
/* @media screen and (min-width: 1024px) {
  nav {
    background-color: yellow;
  }
  body {
    display: flex;
  }
  .nav-header {
    width: 50px;
    height: 100px;
    margin-top: 500px;
    margin-right: 120px;
    background-color: red;
  }
} */
